nav{
    margin-left: 40%;
    margin-top: -5%;
    font-size: x-large;
    padding: 80px;
}
.nav-item{
    margin-left: 10px;
}
.name_text{
    border: 1px solid black;
    border-radius: 20px;
    border: none;
    padding: 2%;
    padding-left: 10%;
    font-size: large;
    margin-top: 10%;
    margin-bottom: -30%;
    margin-right: 60%;
    margin-left: 0%;
}
.name_text h3{
    font-weight: bolder;
    font-size: xx-large;
    font-family: Averta, sans-serif;
}

.robin{
    padding: 2%;
    padding-top: 6%;
    margin-left: 40%;

}
.robin img {
    border-radius: 20px;
    
    margin-right: 0%;
}
.top{
    background-color:#FAFAFA;
    border: 2px solid green;
    border: none;
}
.about{
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 7%;
    border: 2px solid black;
    border: none;
    background-color: #D3D3D3;
    height: 500px;
}
.about h2{
    padding: 0%;
    text-align: center;
    font-size: xx-large;
    padding-bottom: 5%;
}
.about p {
    margin-left: 15%;
}
.about a{
    background-color: black;
    color: white;
    margin-left: 30%;
}
.projects{
    padding: 0%;
    background-color: #FAFAFA;
}
.projects h1{
    text-align: center;
    padding: 5%;
    border: 2px solid black;
    border: none;
    background-color: white;
}
.projects a{
    color: grey;
    border: 1px solid black;
    border: none;
    background-color: white;
}
.burger_place{
    display: flex;
    padding-top:  0%;
    border: 1px solid black;
    border: none;

}
.burger_place img{
    margin-left: 300px;
    margin-right: 0%;
    padding-top: 5%;
}
.burger_text{
    margin-top: 8%;
    margin-left: 10px;
    /* margin-right: 30px; */
    border: 1px solid black;
    border: none;
}
.insurance_website{
    display: flex;  
    padding: 0%;
    border: 1px solid black;
    border: none;
    padding-top: 7%;
    padding-bottom: 5%;

}
.insurance_text{
    padding-top: 80px;
    margin-top: 6%;
    margin-left: 150px;
}
.insurance_img{
    margin-left: 0px;
}
.quiz_board{
    display: flex;
    padding-top: 7%;
}
.quiz_text{
    padding-top: 50px;
    margin-top: 8%;
    margin-left: 30px;
    padding: 2%;
    border: 1px solid black;
    border: none;
    
}
.quiz_board img{
    margin-left: 250px;  
    margin-right: 0px;
}
.contac{
    justify-content: space-around;
}
.footer span{
        content: "\00A9";
}
.contact{
    text-align: center;
    padding: 10%;
}
.footer{
    text-align: center;
    padding: 3%;
    background-color: #808080;
    color: #FAFAFA;
}