.burger_place{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3%;

}
.burger_place img{
    margin-left: 200px;
}
.burger_text{
    padding-top: 80px;
    margin-top: 8%;
}
.insurance_website{
    display: flex;  
    padding: 3%;
}
.insurance_text{
    padding-top: 80px;
    margin-top: 8%;
    margin-left: 200px;
}
.insurance_img{
    margin-left: 0px;
}
.quiz_board{
    display: flex;
    padding: 3%;
}
.quiz_text{
    padding-top: 80px;
    margin-top: 8%;
    
}
.quiz_board img{
    margin-left: 200px;  
    margin-right: 0px;
}
.contac{
    justify-content: space-around;
}
.footer span{
        content: "\00A9";
}