.burger_place{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 7%;

}
.burger_place img{
    margin-left: 200px;
}
.burger_text{
    padding-top: 80px;
    margin-top: 8%;
}
.insurance_website{
    display: flex;  
}
.quiz_board{
    display: flex;
}